.shop-title {
    font-size: 28px;
    margin: 20px 0;
    font-weight: 600;
}

/* GRID */
.shop-grid {
  margin: 35px 100px 0px 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
}

/* CARD */
.shop-card {
  height: auto;
  width: 250px;
  overflow: hidden;
  background-color: white;
  border-radius: 1rem;
  border: 1px solid rgb(230, 228, 228);
  flex: 0 0 auto;
}

/* IMAGE */
.shop-image-box {
    background: #f8f8f8;
    padding: 20px;
    text-align: center;
}

.shop-image-box img {
    height: 160px;
    width: 180px;
    object-fit: cover;
    transition: 0.3s;
}

.shop-card:hover img {
    transform: scale(1.08);
}

/* BODY */
.shop-content {
    padding: 15px;
    text-align: center;
}

.shop-content h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

/* PRICE */
.shop-price {
    font-size: 18px;
    font-weight: bold;
    color: #2e7d32;
    margin-bottom: 12px;
}

/* BUTTON */
.shop-btn {
    background: #2e7d32;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}

.shop-btn:hover {
    background: #1b5e20;
}