* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #ffffff;
}

.top-navbar {
  display: flex;
  align-items: center;
  padding: 25px 30px 20px;
  gap: 20px;
  background: #f5f5f5;
  flex-wrap: wrap;
  height: 120px;
}

/* LEFT */
.toggle-btn {
  display: none;
}

.nav-left img {
  height: 90px;
}

/* CENTER SEARCH */
.nav-center {
  display: flex;
  width: 540px;

}

.search-box {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  height: 45px;
}

.search-box input {
  flex: 1;
  border: none;
  padding: 10px;
  outline: none;
}

.search-box select {
  border: none;
  padding: 10px;
  background: #fff;
  cursor: pointer;
}

.search-box button {
  background: #3b82f6;
  border: none;
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
  height: 45px;
}

/* RIGHT */
.nav-right {
  display: flex;
  align-items: center;
  gap: 60px;
  padding-left: 40px;
}
/* CONTACT */
.contact span {
  font-size: 15px;
  color: gray;
}

.contact p {
  margin: 0;
  color: #3b82f6;
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
}

/* ICONS */
.icons {
  position: relative;
  display: flex;
  gap: 40px;
  font-size: 20px;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: red;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

/* ===== SIDEBAR ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: -260px;
  width: 200px;
  height: auto;
  background: #faf8f8;
  color: #0c0c0c;
  padding: 20px;
  transition: 0.3s;
  z-index: 1000;
}

.sidebar.active {
  left: 0;
}

.close-btn {
  font-size: 22px;
  cursor: pointer;
  float: right;
}

.sidebar ul {
  list-style: none;
  padding: 40px 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: rgb(8, 8, 8);
  text-decoration: none;
}

/* OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0,0,0,0.5);
  z-index: 999;
}

.overlay.active {
  display: block;
}

/* USER */
.user p {
  margin: 0;
  font-size: 12px;
}

.user a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

/* RESPONSIVE */
@media (max-width: 1500px) {
  .top-navbar {
  padding: 20px 25px 15px;
  gap: 10px;
  
}

/* LEFT */
.nav-left img {
  height: 70px;
}

/* CENTER SEARCH */
.nav-center {
  width: 450px;

}
 
/* RIGHT */
.nav-right {
  gap: 70px;
  padding-left: 40px;
}
}
@media (max-width: 1309px) {
  .top-navbar {
  padding: 20px 25px 15px;
  gap: 10px;
  
}

/* LEFT */
.nav-left img {
  height: 70px;
}

/* CENTER SEARCH */
.nav-center {
  width: 420px;

}
 
/* RIGHT */
.nav-right {
  gap: 30px;
}
}

@media (max-width: 1200px) {

  .top-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    height: 80px;
  }

  /* LEFT SIDE */
  .nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .toggle-btn {
    font-size: 22px;
    cursor: pointer;
    display: block;
  }

  /* LOGO CENTER */
  .nav-left img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
  }

  /* HIDE SEARCH BAR */
  .nav-center {
    display: none;
  }

  /* RIGHT SIDE */
  .nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  /* HIDE EXTRA TEXT */
  .contact,
  .user {
    display: none;
  }

  /* ICONS */
  .icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  /* OPTIONAL: hide wishlist */
  .icons i.fa-heart {
    display: none;
  }

  /* CART COUNT STYLE */
  .cart-count {
    font-size: 12px;
    background: red;
    color: #fff;
    padding: 2px 6px;
    border-radius: 50%;
  }

}

/* HERO BACKGROUND */
.hero {
  margin: 10px;
  overflow: hidden;
   height: 344px; 
}

/* Banner container */
.hero-banner {
  width: 100%;
  height: 344px; /* desktop height */
}

/* Image styling */
.hero-banner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

/* Tablet */
@media (max-width: 992px) {
  .hero-banner {
    height: 200px;
  }
  .hero{
    height: 200px;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .hero-banner {
    height: 100px;
  }
  .hero{
    margin: 5px;
    height: 100px;
  }
}


.features {
    margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px 40px;
  background: #f5f5f5;
  flex-wrap: wrap;
}

.feature-card {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  width: 300px;
}

.feature-card i {
  font-size: 28px;
  color: #4CAF50;
}

.feature-card h4 {
  margin: 0;
  font-size: 16px;
}

.feature-card p {
  margin: 3px 0 0;
  font-size: 13px;
  color: gray;
}

/* Hover effect */
.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* Tablet */
@media (max-width: 992px) {
  .features {
  justify-content: space-evenly;
  gap: 10px;
  padding: 10px 40px;
}
  .feature-card {
  gap: 10px;
  padding: 25px;
  border-radius: 10px;
  width: 190px;
}

.feature-card i {
  font-size: 25px;
  color: #4CAF50;
}

.feature-card h4 {
  margin: 0;
  font-size: 12px;
}

.feature-card p {
  margin: 3px 0 0;
  font-size: 10px;
  color: gray;
}
}

/* Mobile */
@media (max-width: 576px) {
  .features {
  justify-content: space-evenly;
  gap: 10px;
  padding: 10px 25px;
}
  .feature-card {
  gap: 5px;
  padding: 18px;
  border-radius: 10px;
  width: 140px;
}

.feature-card i {
  font-size: 15px;
}

.feature-card h4 {
  margin: 0;
  font-size: 9px;
}

.feature-card p {
  margin: 3px 0 0;
  font-size: 10px;
  color: gray;
}
}


/* Content-Section */

.content-section{
  height: auto;
  margin-top: 30px;
  background-color: #fffdfd;
}
.title p{
  font-weight: 800;
  font-size: 22px;
  color: #c7590b;
  text-align: center;
  padding-top: 50px;
}
#offer-tag {
  color: black;
  font-size: 17px;
  font-weight: 700;
  padding-top: 14px;
  margin-bottom: 40px;
}

.categories-wrapper {
  overflow: hidden;
  width: 100%;
}

.categories {
  display: flex;          
  flex-wrap: wrap;        
  gap: 60px;              
  align-items: center;
  justify-content: center;
  width: max-content;
  animation: scroll 25s linear infinite;
}
/* STOP ON HOVER */
.categories:hover {
  animation-play-state: paused;
}

/* ANIMATION */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.box{
  height: 120px;
  width: 120px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  border: 1px solid pink;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 12px 30px rgba(0,0,0,0.20);
}
.full-box.active .box {
  border: 2px solid #fba7b6;
  border-radius: 50%;
  box-shadow: 0 0 10px #ff4d6d,
              0 0 20px #ff4d6d,
              0 0 30px rgba(255, 77, 109, 0.6);
}
.full-box:hover {
  transform: scale(1.05);
}


.box img {
  height: 100px;
  margin-top: 70px;
  object-fit: contain;     
}

.full-box p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  margin-top: 20px;
  color: #333;
}

@media (max-width: 992px) {
  .categories{
    gap: 30px;
  }
  .box{
  height: 80px;
  width: 80px;
}
.box img {
  height: 50px;
  margin-top: 30px;
  object-fit: contain;     
}
.full-box p{
  font-weight: 700;
  margin-top: 10px;
  color: #333;
  font-size: 12px;
}
}
@media (max-width: 480px) {
  .content-section{
  height: auto;    
  width: 100%; 
}
.categories {       
  gap: 10px;              
}
.box{
  height: 60px;
  width: 60px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  border: 1px solid pink;
}

.box img {
  height: 40px;
  margin-top: 20px;
  object-fit: contain;     
}

.full-box p{
  font-weight: 700;
  margin-top: 10px;
  font-size: 9px;
  color: #333;
}

.full-box.active .box {
  border: 0.5px solid #fba7b6;
  border-radius: 50%;
  box-shadow: 0 0 5px #ff4d6d,
              0 0 10px #ff4d6d,
              0 0 20px rgba(255, 77, 109, 0.6);
}
}

/* =========================
   CATEGORY SECTION
========================= */

.all-product{
    width:95%;
    max-width:1400px;
    margin:40px auto;
    display:grid;
     grid-template-columns:repeat(4,1fr);

    gap:24px;
}

/* REMOVE LINK STYLE */

.category-link{
    text-decoration:none;
    color:inherit;
}

/* =========================
   CARD
========================= */

.card-box{
    position:relative;
    background:white;
    border-radius:24px;
    overflow:hidden;
    border:1px solid #edf0f7;
    transition:0.35s ease;
    cursor:pointer;
    box-shadow:
    0 4px 20px rgba(15,23,42,0.05);
}

.card-box:hover{
    transform:translateY(-6px);
    box-shadow:
    0 18px 35px rgba(15,23,42,0.10);
}

/* =========================
   IMAGE AREA
========================= */

.product-img{
    width:60%;
    height:100px;
    background:#f8fafc;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:20px;
    margin-left: 75px;
}

.product-img img{
    width:100%;
    height:160px;
    object-fit:contain;
    transition:0.35s ease;
}

.card-box:hover .product-img img{
    transform:scale(1.08);
}

/* =========================
   PRODUCT NAME
========================= */

.product-name{
    padding:18px 16px 22px;
    text-align:center;
}

.product-name p{
    font-size:17px;
    font-weight:600;
    color:#1e293b;
    line-height:1.5;
}

/* =========================
   CATEGORY BADGE
========================= */

.card-box::after{
    content:"Category";
    position:absolute;
    top:14px;
    right:14px;
    background:#2563eb;
    color:white;
    font-size:11px;
    font-weight:600;
    padding:6px 10px;
    border-radius:30px;
    letter-spacing:.4px;
}

/* =========================
   TABLET RESPONSIVE
========================= */

@media(max-width:992px){

    .all-product{
        grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
        gap:18px;
    }

    .product-img{
        height:180px;
    }

    .product-img img{
        height:130px;
    }

    .product-name p{
        font-size:15px;
    }
}

/* =========================
   MOBILE RESPONSIVE
========================= */

@media(max-width:576px){

    .all-product{
        width:94%;
        margin:20px auto;
        grid-template-columns:repeat(2,1fr);
        gap:12px;
    }

    .card-box{
        border-radius:18px;
    }

    .product-img{
        height:10px;
        padding:14px;
        width:80%;
        margin-left: 5px;
    }

    .product-img img{
        height:60px;
    }

    .product-name{
        padding:12px 10px 16px;
    }

    .product-name p{
        font-size:13px;
        font-weight:600;
    }

    .card-box::after{
        font-size:9px;
        padding:4px 8px;
        top:10px;
        right:10px;
    }
}

.faq-section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}

.faq-title {
  text-align: center;
  margin: 25px 0;
}

.faq-container {
  background-color: #daedf9;
  width: 70%;
  margin: auto;
  border-radius: 1rem;
  padding: 33px 69px;
  max-width: 900px; 
}

.faq-item {
  padding: 14px;
  border-bottom: 1px solid #ccc;
  color: #4f585e;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

/* arrow */
.arrow-icon span {
  font-size: 22px;
  transition: 0.3s;
}

/* rotate arrow */
.faq-item.active .icon{
  transform: rotate(180deg);
}

/* answer */
.faq-answer {
  display: none;
  margin-top: 10px;
  color: #807f7f;
}

/* show answer */
.faq-item.active .faq-answer {
  display: block;
}

@media (max-width: 992px) {
  .faq-container {
    width: 100%;
    margin: auto;
    padding: 20px;
  }

  .faq-question {
    font-size: 16px;
  }
  .faq-answer {
    font-size: 16px;
  }
}

@media (max-width: 482px) {
  .faq-container {
    padding: 15px;
    width: 90%;   
    height: auto; 
  }

  .faq-question {
    font-size: 13px;   
  }
  .faq-answer{
    font-size: 12px;
  }
}


footer{
  height: 912.8px;
  background-color: #272c4d;
}

.outer-footer{
  background-color: #ffefef;
  height: 912.8px;
  margin: 0px 48px;
  padding: 48px 88px;
}

.footer-logo-section{
  margin-bottom: 40px;
}

.full-logo{
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  font-size: 21px;
}
.full-logo img{
  height: 50px;
}

.outer-logo{
  margin-bottom: 2px;
}

.footer-allitem{
  display: flex;
  justify-content: space-between;
}
.item-title{
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}
.all-item ul{
  list-style: none;
}

.all-item ul li{
 padding: 10px 0px 10px 0px;
}

.all-item ul li a{
  text-decoration: none;
  color: black;
}